<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            التصنيفات
          </a>
          <div class="dropdown-menu">
            <ul>
              <li><a class="dropdown-item" href="#">super dails</a></li>
            </ul>
            <ul>
              <ul>
              <li><a class="dropdown-item " href="#">احذيه</a></li>
            </ul>
              <div class="shoe-categories d-flex">
    <div class="dropdown-column">
      <ul class="list-unstyled">
        <li><a class="dropdown-item-man" href="#">أحذية رجالية</a></li>
        <li><a class="dropdown-item" href="#">رياضي</a></li>
        <li><a class="dropdown-item" href="#">رسمية و كلاسيكي</a></li>
        <li><a class="dropdown-item" href="#">بساطير</a></li>
        <li><a class="dropdown-item" href="#">كاجوال</a></li>
        <li><a class="dropdown-item" href="#">توب سايدر </a></li>
        <li><a class="dropdown-item" href="#">أحذية طبية رجالية </a></li>
        <li><a class="dropdown-item" href="#">صنادل و شباشب للرجال</a></li>
      </ul>
    </div>
    <div class="dropdown-column">
      <ul class="list-unstyled">
        <li><a class="dropdown-item-woman" href="#">أحذية نسائية</a></li>
        <li><a class="dropdown-item" href="#">أحذية رياضية </a></li>
        <li><a class="dropdown-item" href="#">جزم وبساطير </a></li>
        <li><a class="dropdown-item" href="#">روكي و كعب </a></li>
        <li><a class="dropdown-item" href="#">أحذية طبية</a></li>
        <li><a class="dropdown-item" href="#">باليه و زحاف</a></li>
        <li><a class="dropdown-item" href="#">كاجوال</a></li>
        <li><a class="dropdown-item" href="#">صنادل و شباشب للصبايا</a></li>
      </ul>
    </div>
    <div class="dropdown-column">
      <ul class="list-unstyled">
        <li><a class="dropdown-item-man" href="#">أحذية أطفال</a></li>
      </ul>
    </div>
  </div>
            </ul>
            <ul>
            <ul>
              <li><a class="dropdown-item" href="#">الملابس</a></li>
            </ul>
              <div class="shoe-categories d-flex">
                <div class="dropdown-column">
                  <ul class="list-unstyled">
              <li><a class="dropdown-item-man" href="#">ملابس رجالية </a></li>
              <li><a class="dropdown-item" href="#">بناطيل جينز</a></li>
              <li><a class="dropdown-item" href="#">بناطيل كاجوال              </a></li>
              <li><a class="dropdown-item" href="#">بناطيل رياضية</a></li>
              <li><a class="dropdown-item" href="#">شورتات</a></li>
              <li><a class="dropdown-item" href="#">قمصان</a></li>
              <li><a class="dropdown-item" href="#">تيشرتات</a></li>
              <li><a class="dropdown-item" href="#">بلايز خريفي ربيعي </a></li>
              <li><a class="dropdown-item" href="#">بلايز شتوية</a></li>
              <li><a class="dropdown-item" href="#">جاكيتات ومعاطف</a></li>
              <li><a class="dropdown-item" href="#">بيجامات</a></li>
              <li><a class="dropdown-item" href="#">ملابس رياضية</a></li>
              <li><a class="dropdown-item" href="#">ملابس داخلية</a></li>
              </ul>
              </div>
              <div class="dropdown-column">
                <ul class="list-unstyled">
              <li><a class="dropdown-item-woman" href="#">ملابس نسائية</a></li>
              <li><a class="dropdown-item" href="#">الملابس الداخلية</a></li>
              <li><a class="dropdown-item" href="#">ملابس بيتية</a></li>
              <li><a class="dropdown-item" href="#">بيجامات</a></li>
              <li><a class="dropdown-item" href="#">جاكيتات ومعاطف</a></li>
              <li><a class="dropdown-item" href="#">بلايز وقمصان</a></li>
              <li><a class="dropdown-item" href="#">بناطيل نسائية</a></li>
              <li><a class="dropdown-item" href="#">عبايات</a></li>
              <li><a class="dropdown-item" href="#">فساتين و أطقم</a></li>

</ul>
</div>
</div>

            </ul>
            <ul>
              <li><a class="dropdown-item" href="#">عطور</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>

            </ul> <ul>
              <li><a class="dropdown-item" href="#">قسم الجمال</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>

            </ul> <ul>
              <li><a class="dropdown-item" href="#">ساعات </a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>

            </ul> <ul>
              <li><a class="dropdown-item" href="#">الكترونيات</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>

            </ul>
            <ul>
              <li><a class="dropdown-item" href="#">شنط واكسسوارات</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>

            </ul> <ul>
              <li><a class="dropdown-item" href="#">الاطفال والالعاب</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>

            </ul>
            <ul>
              <li><a class="dropdown-item" href="#">الرياضة والصحة </a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>

            </ul>
              <ul>
              <li><a class="dropdown-item" href="#"> المنزل والحديقة</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>

            </ul>
            <ul>
              <li><a class="dropdown-item" href="#">معدات صناعية</a></li>


            </ul> <ul>
              <li><a class="dropdown-item" href="#">اكسسوارات السيارات</a></li>


            </ul>
            <ul>
              <li><a class="dropdown-item" href="#">كتب وروايات</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>

            </ul>

          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

