<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <!-- Dropdown for Super Dails -->
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Super Dails
          </a>
        </li>

        <!-- Dropdown for Shoes -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            أحذية
          </a>
          <div class="dropdown-menu">
            <ul class="list-unstyled">
              <li><a class="dropdown-item" href="#">أحذية رجالية</a></li>
              <li><a class="dropdown-item" href="#">رياضي</a></li>
              <li><a class="dropdown-item" href="#">رسمية وكلاسيكية</a></li>
              <li><a class="dropdown-item" href="#">بساطير</a></li>
              <li><a class="dropdown-item" href="#">كاجوال</a></li>
              <li><a class="dropdown-item" href="#">توب سايدر</a></li>
              <li><a class="dropdown-item" href="#">أحذية طبية رجالية</a></li>
              <li><a class="dropdown-item" href="#">صنادل وشباشب للرجال</a></li>
            </ul>
            <ul class="list-unstyled">
              <li><a class="dropdown-item" href="#">أحذية نسائية</a></li>
              <li><a class="dropdown-item" href="#">أحذية رياضية</a></li>
              <li><a class="dropdown-item" href="#">جزم وبساطير</a></li>
              <li><a class="dropdown-item" href="#">روكي وكعب</a></li>
              <li><a class="dropdown-item" href="#">أحذية طبية</a></li>
              <li><a class="dropdown-item" href="#">باليه وزحاف</a></li>
              <li><a class="dropdown-item" href="#">كاجوال</a></li>
              <li><a class="dropdown-item" href="#">صنادل وشباشب للصبايا</a></li>
            </ul>
            <ul class="list-unstyled">
              <li><a class="dropdown-item" href="#">أحذية أطفال</a></li>
            </ul>
          </div>
        </li>

        <!-- Dropdown for Clothes -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            الملابس
          </a>
          <div class="dropdown-menu">
            <ul class="list-unstyled">
              <li><a class="dropdown-item" href="#">ملابس رجالية</a></li>
              <li><a class="dropdown-item" href="#">بناطيل جينز</a></li>
              <li><a class="dropdown-item" href="#">بناطيل كاجوال</a></li>
              <li><a class="dropdown-item" href="#">بناطيل رياضية</a></li>
              <li><a class="dropdown-item" href="#">شورتات</a></li>
              <li><a class="dropdown-item" href="#">قمصان</a></li>
              <li><a class="dropdown-item" href="#">تيشرتات</a></li>
              <li><a class="dropdown-item" href="#">بلايز خريفي ربيعي</a></li>
              <li><a class="dropdown-item" href="#">بلايز شتوية</a></li>
              <li><a class="dropdown-item" href="#">جاكيتات ومعاطف</a></li>
              <li><a class="dropdown-item" href="#">بيجامات</a></li>
              <li><a class="dropdown-item" href="#">ملابس رياضية</a></li>
              <li><a class="dropdown-item" href="#">ملابس داخلية</a></li>
            </ul>
            <ul class="list-unstyled">
              <li><a class="dropdown-item" href="#">ملابس نسائية</a></li>
              <li><a class="dropdown-item" href="#">الملابس الداخلية</a></li>
              <li><a class="dropdown-item" href="#">ملابس بيتية</a></li>
              <li><a class="dropdown-item" href="#">بيجامات</a></li>
              <li><a class="dropdown-item" href="#">جاكيتات ومعاطف</a></li>
              <li><a class="dropdown-item" href="#">بلايز وقمصان</a></li>
              <li><a class="dropdown-item" href="#">بناطيل نسائية</a></li>
              <li><a class="dropdown-item" href="#">عبايات</a></li>
              <li><a class="dropdown-item" href="#">فساتين وأطقم</a></li>
            </ul>
          </div>
        </li>

        <!-- Dropdown for Watches -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            عطور
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">عطور رجالية</a></li>
            <li><a class="dropdown-item" href="#">عطور نسائية</a></li>
            <li><a class="dropdown-item" href="#">عطور للشعر</a></li>
            <li><a class="dropdown-item" href="#">معطرات الجو والفراش</a></li>
            <li><a class="dropdown-item" href="#">بخور</a></li>
            <li><a class="dropdown-item" href="#">معطرات الجسم ومزيل العرق</a></li>
          </ul>
        </li>

        <!-- Dropdown for Electronics -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            قسم الجمال
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">مكياج الوجه و العناية بالبشرة </a></li>
            <li><a class="dropdown-item" href="#"> مكياج العيون</a></li>
            <li><a class="dropdown-item" href="#">مكياج الشفاه</a></li>
            <li><a class="dropdown-item" href="#">العناية بالشعر</a></li>
            <li><a class="dropdown-item" href="#">العناية بالاظافر</a></li>
            <li><a class="dropdown-item" href="#">العناية بالجسم</a></li>

          </ul>
        </li>

        <!-- Dropdown for Bags and Accessories -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          ساعات
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
          </ul>
        </li>

        <!-- Dropdown for Kids and Toys -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            الكترونيات
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
          </ul>
        </li>

        <!-- Dropdown for Sports and Health -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            شنط واكسسوارات
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
          </ul>
        </li>

        <!-- Dropdown for Beauty and Perfumes -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            الاطفال والالعاب
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
          </ul>
        </li>

        <!-- Dropdown for Kitchen and Home -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            الرياضة والصحة
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
          </ul>
        </li>

        <!-- Dropdown for Gifts -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            المنزل والحديقة
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
          </ul>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"  aria-expanded="false">
            كتب وروايات
          </a>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"  aria-expanded="false">
            كتب وروايات
          </a>
        </li>

        <!-- Dropdown for Books and Stationery -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            كتب وروايات
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
